<template>
  <q-page padding class="flex flex-center">
    <img alt="AControl logo" src="~assets/acontrol-logo.svg" :width="500" />
  </q-page>
</template>

<script>
export default {
  name: "Dashboard"
};
</script>
