<template>
  <div>
    <q-expansion-item
      v-if="isComplex"
      group="menu"
      :icon="'o_' + item.icon"
      :label="item.label"
    >
      <q-list class="q-pl-lg">
        <q-item
          v-for="route in item.routes"
          :key="route.name"
          :to="{ name: route.route }"
        >
          <q-item-section avatar>
            <q-icon :name="activeIcon(route.route, route.icon)" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ route.name }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-expansion-item>

    <q-item v-else :to="{ name: item.route.route }">
      <q-item-section avatar>
        <q-icon :name="activeIcon(item.route.route, item.icon)" />
      </q-item-section>
      <q-item-section>
        <q-item-label>{{ item.label }}</q-item-label>
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
export default {
  name: "MenuItens",
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  computed: {
    activeRoute() {
      return this.$route.name;
    },
    isComplex() {
      return this.item.routes !== undefined;
    }
  },
  methods: {
    activeIcon(route, icon) {
      return route === this.activeRoute ? icon : "o_" + icon;
    }
  }
};
</script>
