<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="blue-acontrol">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title>
          AControl
        </q-toolbar-title>
        <div>Version 0.0.3a</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      :width="230"
    >
      <q-list>
        <menu-itens v-for="item in menuItens" :key="item.label" :item="item" />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import MenuItens from "components/MenuItens";

export default {
  name: "MainLayout",

  components: {
    MenuItens
  },

  data() {
    return {
      leftDrawerOpen: false,
      menuItens: [
        {
          label: "Dashboard",
          icon: "home",
          route: { name: "Dashboard", route: "dashboard" }
        },
        {
          label: "Vendas",
          icon: "receipt",
          routes: [
            {
              name: "Ordens de Serviço",
              icon: "description",
              route: "salesOrdereds"
            },
            { name: "Pedidos", icon: "class", route: "salesServiceOrders" }
          ]
        },
        {
          label: "Cadastros",
          icon: "business_center",
          routes: [
            { name: "Clientes", icon: "account_circle", route: "regClients" },
            {
              name: "Fornecedores",
              icon: "account_box",
              route: "regProviders"
            },
            {
              name: "Transportadoras",
              icon: "airport_shuttle",
              route: "regCarriers"
            },
            { name: "Produtos", icon: "archive", route: "regProducts" }
          ]
        },
        {
          label: "Financeiro",
          icon: "account_balance_wallet",
          routes: [
            { name: "Relatórios", icon: "bar_chart", route: "finReports" }
          ]
        }
      ]
    };
  }
};
</script>
